algorithmen.aux
*.bbl
*.aux
*.log
*.nav
*.toc
*.gz
*.bcf
*.xml
*.fls
*.smn
*.minted
*.fdb_latexmk
*.snm
*.pdf_tex
*.vrb
*.blg
*.synctex(busy)
*.bbl-SAVE-ERROR
*.bcf-SAVE-ERROR
*.nlo
*.nls
ki_methoden_und_theorien.pdf
*svg-tex.pdf
svg-inkscape/model_plot_svg-raw.pdf
DeepLearning.tex
ki_methoden_und_theorien - Kopie.pdf
